<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ student.first_name }} {{ student.last_name }}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <p><h2>{{ student.first_name }} {{ student.last_name }}</h2></p>
    <p ><strong>Email: {{ student.username }}@oxy.edu</strong></p>
    <p><strong>Majors: {{ student.majors }}</strong></p>
    <p><strong>Advisor: {{ student.advisor }}</strong></p>
    <p>
        <a href="/directory/{{ prev_student.username }}">Previous</a>
        <a href="/directory/{{ next_student.username }}">Next</a>
    </p>
</body>
</html>
